<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-MagnifyingGlass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-MagnifyingGlass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Map</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Map-Preview</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mushroom</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Mushroom-Preview</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Camera</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Camera-Preview</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Backpack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Backpack-Preview</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Campfire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Campfire-Preview</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
